<% title "List of Ideas", false %>

<div class="mBottom10 line gray">
  <%= link_to '', new_idea_path, :class => "lightbulb-btn" %>
  <h1 class="heading ">List of Ideas</h1>
</div>

<table id="ideas">
  <tr>
    <th class="name"><a href="/ideas/?search=name">Name</a></th>
    <th class="pct">%</th>
    <th class="score"><a href="/ideas/?search=score">Score</a></th>
    <th class="fights"><a href="/ideas/?search=compare_count">Fights</a></th>
    <th class="desc" >Description</th>
    <th class="team" ><a href="/ideas/?search=teams_count">Team</a></th>
    <th class="actions">Joined</th>
    <th class="date_created"><a href="/ideas/?search=created_at">Created</a></th>
	<th class="date_updated"><a href="/ideas/?search=updated_at">Updated</a></th>
  </tr>
<%= render @ideas %>
</table>
<%= paginate @ideas %>  

<script type="text/javascript">
	$(function(){
	  //$("#ideas tr").click(function(){
	  //  var rowID = $(this)[0].id.split("row")[1];
	  //  document.location.href="/ideas/" + rowID;
	  //});
	  
		$(".join_team").click(function(){
  		  iid = $(this)[0].id;
  			tempStr = iid.split("iid")[1]
  			idNumber = tempStr.split("-")[0]
  			userId = tempStr.split("-")[1]
			
			//Adam started trying to figure out how to walk up the tree and increment or decrement the team count for the row
			//row = $(this)[0].parents("tr");
			//console.log(row);
		
  			$.get("/team/join_team", { ideaid: idNumber, userid:userId },function(response){
  				if(response == "success"){
  				  $(".join_team#" + iid).hide();
  				  $(".leave_team#" + iid).show();
  				}
  			});			
			return false
		});

		$(".leave_team").click(function(){
		    iid = $(this)[0].id;
  			idNumber = iid.split("iid")[1]
  			tempStr = iid.split("iid")[1]
  			idNumber = tempStr.split("-")[0]
  			userId = tempStr.split("-")[1]			
			
			$.get("/team/leave_team", { ideaid: idNumber, userid:userId  },function(response){
  				if(response == "success"){
  				  $(".join_team#" + iid).show();
  				  $(".leave_team#" + iid).hide();
  				}
			});			
			return false
		});
		
	});
</script>


