<div class="credits">
  <div class="mBottom10 line gray"><h1 class="heading">Credits</h1></div>
  <h4 class="mTop20">Matt Paulin</h4>
  <h4 class="mTop20">Adam Hindman</h4>
  <h4 class="mTop20">Alexander Jolovic</h4>
  <h4 class="mTop20">Ryan Smits</h4>
  <h4 class="mTop20">Bill Levering</h4>
  <h4 class="mTop20">Michael Erdely</h4>
  <h4 class="mTop20">Xenia</h4>
  <div class="mBottom10 line gray"><h1 class="heading">Want to help?</h1></div>
  <p class="mBottom20">tryDea is written in Ruby on Rails 3.  We can always use a new member to the team.  Please contact <a href="mailto:paulin@pugetworks.com?subject=trydea help">paulin@pugetworks.com</a> if you want to contribute.
  </p>
</div>

<div class="about">
  <div class="mBottom10 line gray"><h1 class="heading">About tryDea</h1></div>
  <p class="mBottom20">tryDea is a site for posting and sharing ideas.</p>
  
  <div class=""><h3 class="heading">Submitting Ideas</h3></div>
  <p class="mBottom20">Users must have an account to submit an idea.  Any idea submitted is considered public domain.</p>
  
  <div class=""><h3 class="heading">Comment on Ideas</h3></div>
  <p class="mBottom20">Users can comment on an idea.  Help make the idea stronger by being critical.</p>
  
  <div class=""><h3 class="heading">Joining Teams</h3></div>
  <p class="mBottom20">If you like an idea so much that you would like to work on it, join the team.</p>
  
  <div class=""><h3 class="heading">Compare Ideas</h3></div>
  <p class="mBottom20">In the idea comparator you can see two ideas and select the one you think is better.  This is a great way to scan several ideas to get a feel for what is in the system.  The more an idea is rated the more the score is adjusted to determine its value.
  </p>
</div>