<div class="mBottom20 line gray"><h1 class="heading">Credits</h1></div>
<h4>Matt Paulin</h4>
<p>Back end development</p>

<h4 class="mTop20">Adam Hindman</h4>
<p>Design and front end development</p>

<h4 class="mTop20">Alexander Jolovic</h4>
<p>Ruby Expertise</p>