<% title "Sign up for a tryDea account", false%>
<div class="mBottom10 line gray">
  <h1 class="heading">Sign up for an Account</h1>  
</div>

<h1>Check your inbox, (and spam)</h1>
<p>
	If the code you used was valid, you should see a confirmation email to finish the signup process.
</p>
<a href="/users/register">Try Again...</a>
