<% title "Welcome to the tryDea Engine", false %>

<div class="mBottom10 line gray">
  <%= link_to '', new_idea_path, :class => "lightbulb-btn" %>
  <h1 class="heading">Welcome to the tryDea Engine</h1>  
</div>
<%= link_to "Ideas", ideas_path %>
<a href="/idea_comparator"> Compare Ideas </a>
