<script type="text/javascript">
reformal_wdg_domain    = "trydea";
reformal_wdg_mode      = 0;
reformal_wdg_title     = "trydea";
reformal_wdg_ltitle    = "";
reformal_wdg_lfont     = "Verdana, Geneva, sans-serif";
reformal_wdg_lsize     = "12px";
reformal_wdg_color     = "#0033ff";
reformal_wdg_bcolor    = "#516683";
reformal_wdg_tcolor    = "#FFFFFF";
reformal_wdg_align     = "left";
reformal_wdg_waction   = 0;
reformal_wdg_vcolor    = "#9FCE54";
reformal_wdg_cmline    = "#E0E0E0";
reformal_wdg_glcolor   = "#105895";
reformal_wdg_tbcolor   = "#FFFFFF";
 
reformal_wdg_bimage = "http://idea.informer.com/files/images/buttons/ee9b825b6c2160601ba219dc414f18d7.png";
 
</script>

<script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=trydea">
</script>
<noscript>
    <a href="http://trydea.idea.informer.com">trydea feedback </a>
    <a href="http://idea.informer.com">
    	<img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" />
		</a>
</noscript>